.vscode
__pycache__
!**.gitignore

# ROS
**/ros_ws/build
**/ros_ws/install
**/ros_ws/log

## Docker user
**/.vscode-server
**/.dotnet
**/.gnupg
**/.ssh
**/.cache
**/.ros
**/.bash_history

## WandB
**/wandb
**/experiments