[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Javier Carrera
	email = 114339284+javi-carrera@users.noreply.github.com
[credential]
	helper = "!f() { /home/user/.vscode-server/bin/38c31bc77e0dd6ae88a4e9cc93428cc27a56ba40/node /tmp/vscode-remote-containers-de86bfca-8c7a-4730-be7b-1bfe3edf0d2d.js git-credential-helper $*; }; f"
