player-connection-mode=Listen
player-connection-guid=1812385474
player-connection-debug=0
player-connection-project-name=Playground
player-connection-ip=172.26.185.92
player-connection-ip=172.26.64.1
player-connection-ip=10.101.14.167
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6a0f416e4c4f4176abadd25ce2926d2d
