player-connection-mode=Listen
player-connection-guid=687958276
player-connection-debug=0
player-connection-project-name=Playground
player-connection-ip=172.26.185.103
player-connection-ip=172.26.64.1
player-connection-ip=10.101.14.167
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1148a4295c0244188711d042669e98a9
