player-connection-mode=Listen
player-connection-guid=1802625124
player-connection-debug=0
player-connection-project-name=Playground
player-connection-ip=172.26.182.244
player-connection-ip=172.19.0.1
player-connection-ip=192.168.160.1
player-connection-ip=10.139.4.217
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1b96b7add04f4a8fbeaf6941006d50da
