player-connection-mode=Listen
player-connection-guid=2409005024
player-connection-debug=0
player-connection-project-name=Playground
player-connection-ip=192.168.176.1
player-connection-ip=192.168.160.1
player-connection-ip=192.168.1.42
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b4a648101676451f8eefad52a4fbf47b
