player-connection-mode=Listen
player-connection-guid=2841004883
player-connection-debug=0
player-connection-project-name=Playground
player-connection-ip=192.168.0.171
player-connection-ip=172.26.64.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e62dfd28ea7f40a98e5bd318de00100c
