player-connection-mode=Listen
player-connection-guid=2821191202
player-connection-debug=0
player-connection-project-name=Playground
player-connection-ip=192.168.112.1
player-connection-ip=192.168.160.1
player-connection-ip=192.168.1.42
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a5e7f6bafef947b3a8ef630662ddae2c
