player-connection-mode=Listen
player-connection-guid=255095807
player-connection-debug=0
player-connection-project-name=Playground
player-connection-ip=192.168.0.171
player-connection-ip=172.26.64.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7e839575b0b741ddaf75e33844b15364
