player-connection-mode=Listen
player-connection-guid=2152332004
player-connection-debug=0
player-connection-project-name=Playground
player-connection-ip=172.26.185.90
player-connection-ip=172.26.64.1
player-connection-ip=10.101.14.29
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=20777f1253ed4dcaab77f5c76f4420c0
